<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>最受欢迎交易</title>
</head>
<body>
    <h3>
         <a href = "{{ url_for('show_all') }}">刘俊楠-2017303010-增删改查</a>
      </h3>
    <table>
         <thead>
            <tr>
               <th>description</th>
               <th>number</th>
            </tr>
         </thead>

         <tbody>
            {% for signs in new_coupon1 %}
               <tr>
                  <td>    {{   signs.description }}</td>
                  <td>    {{   signs.number}}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
</body>
</html>